<!-- 
    <div class="mx-4 pb-8 text-[#595959]">
        <table class="min-w-full border-y border-gray-300">
            <thead>
                <tr class="bg-[#D9D9D9] text-left">
                    <th class="w-[30%] px-4 py-3 font-bold border-b">Subject</th>
                    <th class="w-[20%] px-4 py-3 font-bold border-b">Emailed to</th>
                    <th class="w-[20%] px-4 py-3 font-bold border-b">Emailed On</th>
                    <th class="w-[20%] px-4 py-3 font-bold border-b">CV Type</th>
                    <th class="w-[10%] px-4 py-3 font-bold border-b">Delete</th>
                </tr>
            </thead>
            <tbody class="text-[18px]">
                <tr class="w-full">
                    <td class="w-[30%] px-4 py-3 border-b">test2</td>
                    <td class="w-[20%] px-4 py-3 border-b">fariha.zahin&#64;bdjobs.com</td>
                    <td class="w-[20%] px-4 py-3 border-b">09 Jan 2024</td>
                    <td class="w-[20%] px-4 py-3 border-b">X</td>
                    <td class="w-[10%] px-4 py-3 border-b">
                        <input type="checkbox" class="form-checkbox"> 
                    </td>
                </tr>
                <tr class="w-full">
                    <td class="w-[30%] px-4 py-3 border-b">Application for the post of</td>
                    <td class="w-[20%] px-4 py-3 border-b">rumana.cse7&#64;gmail.com</td>
                    <td class="w-[20%] px-4 py-3 border-b">15 Nov 2023</td>
                    <td class="w-[20%] px-4 py-3 border-b">X</td>
                    <td class="w-[10%] px-4 py-3 border-b">
                        <input type="checkbox" class="form-checkbox"> 
                    </td>
                    
                </tr>
                <tr class="w-full">
                    <td class="w-[30%] px-4 py-3 border-b">sasas</td>
                    <td class="w-[20%] px-4 py-3 border-b">rumana.cse7&#64;gmail.com</td>
                    <td class="w-[20%] px-4 py-3 border-b">08 Nov 2023</td>
                    <td class="w-[20%] px-4 py-3 border-b">X</td>
                    <td class="w-[10%] px-4 py-3 border-b">
                        <input type="checkbox" class="form-checkbox"> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
         -->

         <div class="mx-4 pb-8 text-[#595959] overflow-x-auto">
            <table class="min-w-full border-y border-gray-300">
                <thead>
                    <tr class="bg-[#D9D9D9] text-left">
                        <th class="w-[30%] px-4 py-3 font-bold border-b">Subject</th>
                        <th class="w-[20%] px-4 py-3 font-bold border-b">Emailed to</th>
                        <th class="w-[20%] px-4 py-3 font-bold border-b">Emailed On</th>
                        <th class="w-[20%] px-4 py-3 font-bold border-b">CV Type</th>
                        <th class="w-[10%] px-4 py-3 font-bold border-b">Delete</th>
                    </tr>
                </thead>
                <tbody class="text-[18px]">
                    <tr class="w-full">
                        <td class="w-[30%] px-4 py-3 border-b">test2</td>
                        <td class="w-[20%] px-4 py-3 border-b">fariha.zahin&#64;bdjobs.com</td>
                        <td class="w-[20%] px-4 py-3 border-b">09 Jan 2024</td>
                        <td class="w-[20%] px-4 py-3 border-b">X</td>
                        <td class="w-[10%] px-4 py-3 border-b">
                            <input type="checkbox" class="form-checkbox">
                        </td>
                    </tr>
                    <tr class="w-full">
                        <td class="w-[30%] px-4 py-3 border-b">Application for the post of</td>
                        <td class="w-[20%] px-4 py-3 border-b">rumana.cse7&#64;gmail.com</td>
                        <td class="w-[20%] px-4 py-3 border-b">15 Nov 2023</td>
                        <td class="w-[20%] px-4 py-3 border-b">X</td>
                        <td class="w-[10%] px-4 py-3 border-b">
                            <input type="checkbox" class="form-checkbox">
                        </td>
                    </tr>
                    <tr class="w-full">
                        <td class="w-[30%] px-4 py-3 border-b">sasas</td>
                        <td class="w-[20%] px-4 py-3 border-b">rumana.cse7&#64;gmail.com</td>
                        <td class="w-[20%] px-4 py-3 border-b">08 Nov 2023</td>
                        <td class="w-[20%] px-4 py-3 border-b">X</td>
                        <td class="w-[10%] px-4 py-3 border-b">
                            <input type="checkbox" class="form-checkbox">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
